<h1>Welcome <%= current_user.name %></h1>

<h3><%= t("manage") %></h3>

<section>
  <ul>
    <%- if current_user.is_webops? %>
      <li><%= link_to t("applications"), oauth_applications_path %></li>
    <%- end %>
    <li><%= link_to t("organisations"), organisations_path %></li>
    <li><%= link_to t("users"), users_path %></li>
  </ul>
</section>

<%- if @dashboard.has_applications? %>
<section>
  <h3><%= t("access_to_applications") %></h3>

  <ul>
    <%= @dashboard.application_links %>
  </ul>
</section>
<%- end %>
