%h1
  Welcome #{current_user.name}
%h3= t("manage")
%section
  %ul
    - if current_user.is_webops?
      %li= link_to t("applications"), oauth_applications_path
    %li= link_to t("organisations"), organisations_path
    %li= link_to t("users"), users_path
- if @dashboard.has_applications?
  %section
    %h3= t("access_to_applications")
    %ul= @dashboard.application_links
