<%= f.label :has_associated_user, t("can_login") %>
<%= f.check_box :has_associated_user, class: "associated-user-check" %>

<div id="associated-user-password-fields">

<%= f.label :password %>
<%= f.password_field :password, autocomplete: "off" %>
<%= f.label :password_confirmation %>
<%= f.password_field :password_confirmation, autocomplete: "off" %>

</div>
