<h1><%= t('profiles') %></h1>

<table>
  <thead>
  <tr>
    <th colspan="4"></th>
  </tr>
  </thead>

  <tbody>
  <% @profiles.each do |profile| %>
    <%= content_tag_for(:tr, profile) do %>
      <td><%= link_to profile.name, profile_path(profile) %></td>
      <td><%= link_to t('edit'), edit_profile_path(profile) %></td>
      <td><%= link_to t('delete'), profile, method: :delete, data: { confirm: t('are_you_sure') } %></td>
      <td><%= link_to(t('password'), edit_user_path(profile.user.id)) if profile.user %></td>
    <% end %>
  <% end %>
  </tbody>
</table>

<br>

<%= link_to t('new_profile'), new_profile_path %>
