<%= render 'shared/error_messages', object: @profile_form %>

<h1><%= t('new_profile') %></h1>

<%= form_for(@profile_form) do |f| %>
  <%= render 'form', f: f %>
  <%= render 'create_password', f: f %>
  <div class="actions">
    <%= f.submit t('create_profile'), class: "button" %>
  </div>
<% end %>

<%= link_to t('back'), profiles_path %>
