<%= render 'shared/error_messages', object: @profile_form %>

<h1>New Profile</h1>

<%= form_for(@profile_form) do |f| %>
  <%= render 'profiles/form_partials/profile_details', f: f %>

  <%= render 'profiles/form_partials/associated_user_details', f: f %>

  <div class="actions">
    <%= f.submit 'Create Profile' %>
  </div>
<% end %>

<%= link_to 'Back', profiles_path %>
