<h1><%= t("profile") %></h1>

<p>
  <strong><%= t('name') %>:</strong>
  <%= @profile.name %>
</p>

<p>
  <strong><%= t('email') %>:</strong>
  <%= @profile.email %>
</p>

<p>
  <strong><%= t('tel') %>:</strong>
  <%= @profile.tel %>
</p>

<p>
  <strong><%= t('mobile') %>:</strong>
  <%= @profile.mobile %>
</p>

<p>
  <strong><%= t('address') %></strong>
  <%= @profile.address %>
</p>

<p>
  <strong><%= t('postcode') %>:</strong>
  <%= @profile.postcode %>
</p>

<%= link_to t('edit'), edit_profile_path(@profile) %> |
<%= link_to t('back'), profiles_path %>
