<%= form_for [@organisation, @membership] do |f| %>
  <div class="field">
    <%= "#{t('organisation')}: #{@organisation.name}" %>
  </div>

  <div class="field">
    <%- if @membership.new_record? %>
      <%= f.label :user_id, t('member') %>
      <%= f.select :user_id, options_from_collection_for_select(@users, 'id', 'name') %>
    <% else %>
      <%= t("user") + ": " + @membership.user.name %>
    <%- end %>
  </div>

  <div class="field">
    <h3>Roles</h3>
    <%= f.collection_check_boxes :roles, @organisation.available_roles.sort, :name, :name do |b| %>
      <%= b.label() { b.check_box + t(b.text) } %>
    <%- end %>
  </div>

  <div class="actions">
    <%= f.submit class: "button" %>
  </div>
<%- end %>
