= render 'shared/error_messages', object: @membership
%h1= t('new_membership_to_organisation', organisation_name: @organisation.name)
= form_for [@organisation, @membership] do |f|
  = render 'form', f: f
  .actions
    = f.submit t("create_membership"), class: "button"
= link_to t('back'), organisation_path(@organisation)
