= render 'shared/error_messages', object: resource
.panel-default
  .panel-body
    %h2
      = t('.header', name: resource_name.to_s.humanize)
    = form_for(resource, as: resource_name, url: user_registration_path(resource), html: {method: :patch}) do |f|
      .field
        = f.label :email, t('.labels.email')
        %br/
        = f.email_field :email, autofocus: true, class: 'form-control'
      - if devise_mapping.confirmable? && resource.pending_reconfirmation?
        %div
          = t('.pending_reconfirmation', email: resource.unconfirmed_email)
      .field
        = f.label :password, t('.labels.password')
        %i
          = t('.hints.password')
        %br/
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      .field
        = f.label :password_confirmation, t('.labels.password_confirmation')
        %br/
        = f.password_field :password_confirmation, autocomplete: "off", class: 'form-control'
      .field
        = f.label :current_password, t('.labels.current_password')
        %i 
          = t('.hints.current_password')
        %br/
        = f.password_field :current_password, autocomplete: "off", class: 'form-control'
      %br/
      .actions
        = f.submit t('.submit'), class: 'button'
    %br/
    = link_to t('.back'), :back
