= render 'shared/error_messages', object: resource
%h2
  = t('.header')
= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post }) do |f|
  .field
    = f.label :email, t('.labels.email')
    %br/
    = f.email_field :email, autofocus: true
  .actions
    = f.submit t('.submit'), class: 'button'
= render "devise/shared/links"
