<%= form_for(@organisation) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :slug %>
  <%= f.text_field :slug %>

  <%= f.label :organisation_type %>
  <%= f.text_field :organisation_type %>

  <%= f.label :searchable %>
  <%= f.check_box :searchable %>

  <%= f.label :tel %>
  <%= f.text_field :tel %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :postcode %>
  <%= f.text_field :postcode %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
