<div class="field">
  <%= f.label :name %>
  <%= f.text_field :name %>
</div>

<%- if @organisation.new_record? %>
  <div class="field">
    <%= f.label :slug %>
    <%= f.text_field :slug %>
  </div>
<%- end %>

<div class="field">
  <%= f.label :tel %>
  <%= f.text_field :tel %>
</div>

<div class="field">
  <%= f.label :mobile %>
  <%= f.text_field :mobile %>
</div>

<div class="field">
  <%= f.label :address %>
  <%= f.text_field :address %>
</div>

<div class="field">
  <%= f.label :postcode %>
  <%= f.text_field :postcode %>
</div>

<div class="field">
  <%= f.label :email %>
  <%= f.text_field :email %>
</div>

<%- if @organisation.new_record? %>
  <div class="field">
    <%= f.label :parent_organisation_id %>
    <%= f.select :parent_organisation_id, options_for_parent_organisation, include_blank: "---" %>
  </div>
<%- end %>

<%- if current_user.is_webops? %>
<div class="field">

  <%= f.label :applications %>
  <aside><%= simple_format t("webops_add_applications_to_organisation") %></aside>
  <%= f.collection_check_boxes :application_ids, Doorkeeper::Application.all, :id, :name do |b| %>
    <%= b.label() { b.check_box + t(b.text) } %>
  <%- end %>
</div>
<%- end %>
