<%= form_for(@organisation) do |f| %>
  <% if @organisation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@organisation.errors.count, "error") %> prohibited this organisation from being saved:</h2>

      <ul>
      <% @organisation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :slug %>
  <%= f.text_field :slug %>

  <%= f.label :organisation_type %>
  <%= f.text_field :organisation_type %>

  <%= f.label :searchable %>
  <%= f.check_box :searchable %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
