<%= form_for(@organisation) do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :slug %>
  <%= f.text_field :slug %>

  <%= f.label :organisation_type %>
  <%= f.select :organisation_type, options_for_organisation_type, prompt: "-- Select an organisation type --" %>

  <%= f.label :searchable %>
  <%= f.check_box :searchable %>

  <%= f.label :tel %>
  <%= f.text_field :tel %>

  <%= f.label :mobile %>
  <%= f.text_field :mobile %>

  <%= f.label :address %>
  <%= f.text_field :address %>

  <%= f.label :postcode %>
  <%= f.text_field :postcode %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :parent_organisation_id %>
  <%= f.select :parent_organisation_id, options_for_parent_organisation, include_blank: "---" %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
