<h1><%= t('organisations') %></h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
      <tr id='<%= organisation.slug %>-row'>
        <td><%= organisation.name %></td>
        <td><%= link_to t("show"), organisation_path(organisation) %></td>
        <td><%= link_to t("edit"), edit_organisation_path(organisation) %></td>
        <td><%= link_to t("delete"), organisation, method: :delete, onclick: "return confirm('#{t('are_you_sure')}')}" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("new_organisation"), new_organisation_path %>
