<h1><%= t('organisations') %></h1>

<table>
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
      <%= content_tag_for(:tr, organisation) do %>
        <td><%= organisation.name %></td>
        <td><%= link_to t("show"), organisation_path(organisation) if policy(organisation).show? %></td>
        <td><%= link_to t("edit"), edit_organisation_path(organisation) if policy(organisation).edit? %></td>
        <td><%= link_to t("delete"), organisation, method: :delete, data: { confirm: t('are_you_sure') } if policy(organisation).destroy?%></td>
      <%- end %>
    <%- end %>
  </tbody>
</table>

<br>

<%- if policy(Organisation.new).new? %>
  <%= link_to t("new_organisation"), new_organisation_path %>
<%- end %>
