<%- if policy(Organisation.new).new? %>
  <%= link_to t("new_organisation"), new_organisation_path, class: "button right" %>
<%- end %>

<h1><%= t('organisations') %></h1>

<table class="<%= params[:confirm_delete_organisation_id] ? "confirm-delete" : "" %>">
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @organisations.each do |organisation| %>
      <%= content_tag_for(:tr, organisation) do %>
        <td>
          <% if policy(organisation).show? %>
            <%= link_to organisation.name, organisation_path(organisation) %>
          <% else %>
            <%= organisation.name %>
          <%- end %>
        </td>

        <% if Integer(params[:confirm_delete_organisation_id] || 0) == organisation.id %>
        <td class="actions-delete">
          <div class="actions-delete-wrapper">
            <p><%= t("are_you_sure", name: organisation.name) %></p>
            <%= link_to t("delete"), organisation, class: "button-delete", method: :delete if policy(organisation).destroy? %>
            <%= link_to t("cancel"), organisations_path, class: "link-cancel" %>
          </div>
        </td>
        <% else %>
        <td class="actions">
          <%= link_to t("edit"), edit_organisation_path(organisation) if policy(organisation).edit? %>
          <%= link_to t("delete"), organisations_path(confirm_delete_organisation_id: organisation.id), class: "button-delete" if policy(organisation).destroy? %>
        </td>
        <%- end %>
      <%- end %>
    <%- end %>
  </tbody>
</table>

