<%= render 'shared/error_messages', object: @organisation %>

<h1><%= t('new_organisation') %></h1>

<%= form_for(@organisation) do |f| %>
  <%= render 'form', f: f %>

  <div class="actions">
    <%= f.submit t('create_organisation'), class: "button" %>
    <%= link_to t('back'), organisations_path %>
  </div>

<%- end %>


