%h1= t("organisation_details")
.sidebar
  %h3= t("actions")
  = link_to t('edit'), edit_organisation_path(@organisation) if policy(@organisation).edit?
  = link_to t('back'), organisations_path
  = link_to t('new_user'), new_organisation_user_path(@organisation) if policy(@organisation).manage_members?
%p
  %strong
    = t('name') + ':'
  = @organisation.name
%p
  %strong
    = t('slug') + ':'
  = @organisation.slug
%p
  %strong
    = t('tel') + ':'
  = @organisation.tel
%p
  %strong
    = t('mobile') + ':'
  = @organisation.mobile
%p
  %strong
    = t('address') + ':'
  = @organisation.address
%p
  %strong
    = t('postcode') + ':'
  = @organisation.postcode
%p
  %strong
    = t('email') + ':'
  = @organisation.email
- if @organisation.parent_organisation
  %p
    %strong
      = t('parent_organisation') + ':'
    = link_to @organisation.parent_organisation.name,      |
      organisation_path(@organisation.parent_organisation) |
- if @organisation.sub_organisations.present?
  %p
    %strong
      = t('suborganisations') + ':'
    - @organisation.sub_organisations.each do |so|
      = link_to so.name, organisation_path(so)
%h3= t('members')
%table{:class => "members #{params[:confirm_delete_membership_id] ? "confirm-delete" : ""}"}
  %thead
    %tr
      %th= t("user")
      %th= t("organisation_admin")
      %th= t("applications_and_roles")
      %th
  %tbody
    - if @organisation.memberships.any?
      - @organisation.memberships.order(:id).each do |membership|
        = render partial: 'organisations/membership', locals: {membership: membership}
    - else
      %tr
        %td=t("no_members")
