<p>
  <strong><%= t('name') %>:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong><%= t('slug') %>:</strong>
  <%= @organisation.slug %>
</p>

<p>
  <strong><%= t('organisation_type') %>:</strong>
  <%= @organisation.organisation_type %>
</p>

<p>
  <strong><%= t('searchable') %>:</strong>
  <%= @organisation.searchable %>
</p>

<p>
  <strong><%= t('tel') %>:</strong>
  <%= @organisation.tel %>
</p>

<p>
  <strong><%= t('mobile') %>:</strong>
  <%= @organisation.mobile %>
</p>

<p>
  <strong><%= t('address') %>:</strong>
  <%= @organisation.address %>
</p>

<p>
  <strong><%= t('postcode') %>:</strong>
  <%= @organisation.postcode %>
</p>

<p>
  <strong><%= t('email') %>:</strong>
  <%= @organisation.email %>
</p>

<% if @organisation.parent_organisation %>
  <p>
    <strong><%= t('parent_organisation') %>:</strong>
    <%= link_to @organisation.parent_organisation.name,
      organisation_path(@organisation.parent_organisation) %>
  </p>
<% end %>

<% if @organisation.sub_organisations.present? %>
  <p>
    <strong><%= t('suborganisations') %>:</strong>
    <% @organisation.sub_organisations.each do |so| %>
      <%= link_to so.name, organisation_path(so) %>
    <% end %>
<% end %>

<h3><%= t('members') %></h3>

<table class="members">
  <thead>
    <tr>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% if @organisation.profiles.any? %>
      <% @organisation.profiles.each do |profile| %>
        <tr id='<%= profile.id %>-row'>
          <td><%= profile.name %></td>
          <td>
            <%- if profile.user %>
            <dl>
              <%- profile.user.permissions.order(:application_id).each do |permission| %>
                <dt><%= permission.application.name %> App:</dt>
                <dd><%= permission.role.name%></dd>
              <%- end %>
            </dl>
            <%- end %>
          </td>
          <td><%= link_to t('new_permission'), new_permission_path(organisation_id: @organisation.id, user_id: profile.user.id, redirect_path: organisation_path(@organisation))  if profile.user %></td>
          <td><%= link_to t('remove_member'), organisation_membership_path(@organisation.id, profile.membership_for(@organisation)), method: :delete %></td>
        </tr>
      <% end %>
    <% else %>
      <tr><td>No members</td></tr>
    <% end %>
  </tbody>
</table>

<br/>

<%= link_to t('edit'), edit_organisation_path(@organisation) %> |
<%= link_to t('back'), organisations_path %>
<%= link_to t('new_member'), new_organisation_membership_path(@organisation) %>
