<p>
  <strong><%= t('name') %>:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong><%= t('slug') %>:</strong>
  <%= @organisation.slug %>
</p>

<p>
  <strong><%= t('organisation_type') %>:</strong>
  <%= organisation_type(@organisation) %>
</p>

<%- if @organisation.is_law_firm? %>
<p>
  <strong><%= t('supplier_number') %>:</strong>
  <%= @organisation.supplier_number %>
</p>
<%- end %>

<p>
  <strong><%= t('searchable') %>:</strong>
  <%= @organisation.searchable %>
</p>

<p>
  <strong><%= t('tel') %>:</strong>
  <%= @organisation.tel %>
</p>

<p>
  <strong><%= t('mobile') %>:</strong>
  <%= @organisation.mobile %>
</p>

<p>
  <strong><%= t('address') %>:</strong>
  <%= @organisation.address %>
</p>

<p>
  <strong><%= t('postcode') %>:</strong>
  <%= @organisation.postcode %>
</p>

<p>
  <strong><%= t('email') %>:</strong>
  <%= @organisation.email %>
</p>

<% if @organisation.parent_organisation %>
  <p>
    <strong><%= t('parent_organisation') %>:</strong>
    <%= link_to @organisation.parent_organisation.name,
      organisation_path(@organisation.parent_organisation) %>
  </p>
<% end %>

<% if @organisation.sub_organisations.present? %>
  <p>
    <strong><%= t('suborganisations') %>:</strong>
    <% @organisation.sub_organisations.each do |so| %>
      <%= link_to so.name, organisation_path(so) %>
    <% end %>
<% end %>

<h3><%= t('members') %></h3>

<table class="members">
  <thead>
    <tr>
      <th>User</th>
      <th>Roles</th>
      <th>Applications</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if @organisation.memberships.any? %>
      <%- @organisation.memberships.each do |membership| %>
        <%= content_tag_for(:tr, membership) do %>
          <td><%= link_to membership.user.name, user_path(membership.user) %></td>
          <td>
            <ul>
              <%- membership.roles.each do |role| %>
                <li><%= t(role.to_sym) %></li>
              <%- end %>
            </ul>
          </td>
          <td>
            <ul>
              <%- @organisation.available_roles.select {|r| membership.roles.include? r.name }.map(&:applications).flatten.uniq.each do |application| %>
                <li><%= t(application) %></li>
              <%- end %>
            </ul>
          </td>
          <td>
            <%= link_to t("edit_roles"), edit_organisation_membership_path(@organisation, membership) %>
            <%= link_to t("remove_member"), organisation_membership_path(@organisation, membership), method: :delete %>
          </td>
        <%- end %>
      <%- end %>
    <% else %>
      <tr><td>No members</td></tr>
    <%- end %>
  </tbody>
</table>

<br/>

<%= link_to t('edit'), edit_organisation_path(@organisation) %> |
<%= link_to t('back'), organisations_path %>
<%= link_to t('new_user'), new_organisation_user_path(@organisation) %>
