<h1><%= t("organisation_details") %></h1>

<div class='sidebar'>
  <h3><%= t("actions") %></h3>
  <%= link_to t('edit'), edit_organisation_path(@organisation) if policy(@organisation).edit? %>
  <%= link_to t('back'), organisations_path %>
  <%= link_to t('new_user'), new_organisation_user_path(@organisation) if policy(@organisation).manage_members? %>
</div>

<p>
  <strong><%= t('name') %>:</strong>
  <%= @organisation.name %>
</p>

<p>
  <strong><%= t('slug') %>:</strong>
  <%= @organisation.slug %>
</p>

<p>
  <strong><%= t('tel') %>:</strong>
  <%= @organisation.tel %>
</p>

<p>
  <strong><%= t('mobile') %>:</strong>
  <%= @organisation.mobile %>
</p>

<p>
  <strong><%= t('address') %>:</strong>
  <%= @organisation.address %>
</p>

<p>
  <strong><%= t('postcode') %>:</strong>
  <%= @organisation.postcode %>
</p>

<p>
  <strong><%= t('email') %>:</strong>
  <%= @organisation.email %>
</p>

<% if @organisation.parent_organisation %>
  <p>
    <strong><%= t('parent_organisation') %>:</strong>
    <%= link_to @organisation.parent_organisation.name,
      organisation_path(@organisation.parent_organisation) %>
  </p>
<% end %>

<% if @organisation.sub_organisations.present? %>
  <p>
    <strong><%= t('suborganisations') %>:</strong>
    <% @organisation.sub_organisations.each do |so| %>
      <%= link_to so.name, organisation_path(so) %>
    <% end %>
<% end %>

<h3><%= t('members') %></h3>

<table class="members <%= params[:confirm_delete_membership_id] ? "confirm-delete" : "" %>">
  <thead>
    <tr>
      <th><%= t("user") %></th>
      <th><%= t("organisation_admin") %></th>
      <th><%= t("applications_and_roles") %></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% if @organisation.memberships.any? %>
      <%- @organisation.memberships.order(:id).each do |membership| %>
        <%= content_tag_for(:tr, membership) do %>
          <td><%= link_to membership.user.name, user_path(membership.user) %></td>
          <td><%= tick_cross_mark membership.is_organisation_admin? %></td>
          <td>
            <% if membership.application_memberships.empty? %>
              <p><%= t("can_access_no_applications") %></p>
            <% else %>
            <dl>
              <%- membership.application_memberships.each do |application_membership| %>
                <dt><%= application_membership.application_name %></dt>
                <dd>
                  <% if application_membership.has_roles? %>
                    <%= application_membership.print_roles %>
                  <% elsif application_membership.can_login %>
                    <%= t("login") %>
                  <% else %>
                    <%= t("login_disabled") %>
                  <%- end %>
                </dd>
              <%- end %>
            </dl>
            <%- end %>
          </td>

          <% if Integer(params[:confirm_delete_membership_id] || 0) == membership.id %>
          <td class="actions-delete">
            <div class="actions-delete-wrapper">
              <p><%= t("membership_delete_are_you_sure", user_name: membership.user.name, organisation_name: @organisation.name) %></p>
              <%= link_to t("delete"), organisation_membership_path(@organisation, membership), class: "button-delete", method: :delete if policy(@organisation).manage_members? %>
              <%= link_to t("cancel"), organisation_path(@organisation), class: "link-cancel" %>
            </div>
          </td>
          <% else %>
          <td class="actions">
            <%= link_to t("edit"), edit_organisation_membership_path(@organisation, membership) if policy(@organisation).manage_members? %>
            <%= link_to t("delete"), organisation_path(@organisation, confirm_delete_membership_id: membership.id), class: "button-delete" if policy(membership).destroy? %>
          </td>
          <%- end %>
        <%- end %>
      <%- end %>
    <% else %>
      <tr><td>No members</td></tr>
    <%- end %>
  </tbody>
</table>
