= f.field_with_error(:name) do
  = f.label :name
  = f.text_field :name
= f.field_with_error(:redirect_uri) do
  = f.label :redirect_uri
  = f.text_area :redirect_uri, rows: 4
  %aside= t('doorkeeper.applications.help.failure_uri')
  %aside= raw t('doorkeeper.applications.help.native_redirect_uri', native_redirect_uri: "<code>#{ Doorkeeper.configuration.native_redirect_uri }</code>")
= f.field_with_error(:failure_uri) do
  = f.label :failure_uri
  = f.text_area :failure_uri, rows: 4
  %aside= t('doorkeeper.applications.help.failure_uri')
= f.field_with_error(:handles_own_authorization) do
  = f.label :handles_own_authorization
  = label_tag do
    = f.radio_button :handles_own_authorization, :true
    = t("yes")
  = label_tag "", data: { target: "handles_own_authorization_no" } do
    = f.radio_button :handles_own_authorization, :false
    = t("no")
#handles_own_authorization_no.panel-indent.js-hidden{"aria-hidden" => "true"}
  = f.field_with_error(:available_roles_as_string) do
    = f.label :available_roles_as_string
    = f.text_area :available_roles_as_string, rows: 4
    %aside= t('doorkeeper.applications.help.available_roles')
