<%= link_to t('new_application'), new_oauth_application_path, class: 'button right' %>

<h1><%= t('applications') %></h1>

<table class="<%= params[:confirm_delete_application_id] ? "confirm-delete" : "" %>">
  <thead>
  <tr>
    <th><%= t('.name') %></th>
    <th><%= t('.callback_url') %></th>
    <th><%= t('.failure_uri') %></th>
    <th><%= t('.handles_own_authorization') %></th>
    <th></th>
    <th></th>
  </tr>
  </thead>
  <tbody>
  <% @applications.each do |application| %>
    <tr id="application_<%= application.id %>">
      <td><%= link_to application.name, oauth_application_path(application) %></td>
      <td><%= application.redirect_uri %></td>
      <td><%= application.failure_uri %></td>
      <td><%= authorization_status(application) %></td>

      <% if Integer(params[:confirm_delete_application_id] || 0) == application.id %>
        <td class="actions-delete">
          <div class="actions-delete-wrapper">
            <p><%= t("are_you_sure", name: application.name) %></p>
            <%= link_to t("delete"), oauth_application_path(application), class: "button-delete", method: :delete %>
            <%= link_to t("cancel"), oauth_applications_path, class: "link-cancel" %>
          </div>
        </td>
        <% else %>
        <td class="actions">
          <%= link_to t("edit"), edit_oauth_application_path(application) %>
          <%= link_to t("delete"), oauth_applications_path(confirm_delete_application_id: application.id), class: "button-delete" %>
        </td>
        <%- end %>

    </tr>
  <% end %>
  </tbody>
</table>
