<h1><%= t('.title', name: @application.name) %></h1>

<div class='sidebar'>
  <h3><%= t("actions") %></h3>
  <%= link_to t('edit'), edit_oauth_application_path(@application) %>
  <%= link_to t('back'), oauth_applications_path %>
</div>


<p>
  <strong><%= t('.application_id') %></strong>
  <%= @application.uid %>
</p>

<p>
  <strong><%= t('.secret') %></strong>
  <%= @application.secret %>
</p>


<p>
  <strong><%= t('.handles_own_authorization') %></strong>
  <%= authorization_status(@application) %>
</p>


<p>
  <strong><%= t('.callback_urls') %></strong>
  <% @application.redirect_uri.split.each do |uri| %>
  <%= uri %><br />
  <%- end %>
</p>

<p>
  <strong><%= t('.failure_uris') %></strong>
  <% @application.failure_uri.split.each do |uri| %>
  <%= uri %><br />
  <%- end %>
  <% if @application.failure_uri.blank? %>
  /auth/failure?message=unauthorized
  <%- end %>
</p>

<p>
  <strong><%= t('.roles') %></strong>
  <% @application.available_roles.each do |role| %>
  <%= role %><br />
  <%- end %>
</p>

