- #TODO: this needs to be copy checked
  - content_for :accessibility do
    %p We're constantly working to make our service as accessible and usable as possible.
    %h2 Compatibility with tools
    %p The service is compatible with recent versions of the following screen readers:
    %ul
      %li Jaws
      %li Supernova Screen Readers
      %li Voiceover
    %p The site should also be compatible with:
    %ul
      %li basic operating system screen magnifier
      %li operating system speech packages
    %h2 Get help
    %p You can find guidance from the BBC about:
    %ul.list-bullet
      %li= link_to 'making your mouse easier to use', 'http://www.bbc.co.uk/accessibility/guides/mouse_easier/', class: 'external', rel: 'external'
      %li= link_to 'using your keyboard to control your mouse', 'http://www.bbc.co.uk/accessibility/guides/keyboard_mouse/', class: 'external', rel: 'external'
      %li= link_to 'alternatives to a keyboard and mouse', 'http://www.bbc.co.uk/accessibility/guides/alternative_devices/', class: 'external', rel: 'external'
      %li= link_to 'increasing the size of the text in your web browser', 'http://www.bbc.co.uk/accessibility/guides/text_larger/', class: 'external', rel: 'external'
      %li= link_to 'changing text and background colours', 'http://www.bbc.co.uk/accessibility/guides/change_colours/', class: 'external', rel: 'external'
      %li= link_to 'how to magnify your screen', 'http://www.bbc.co.uk/accessibility/guides/magnify/', class: 'external', rel: 'external'
      %li= link_to 'screen readers and talking browsers', 'http://www.bbc.co.uk/accessibility/guides/screenreaders/', class: 'external', rel: 'external'
    %h2 Leave feedback
    %p You should contact_us. if you have trouble using our service - this will help us to make improvements
