<%= form_for(@user) do |f| %>
  <%= f.label :email %>
  <%= f.text_field :email, disabled: !@user.new_record? %>

  <%= f.label :password %>
  <%= f.password_field :password, autocomplete: "off" %>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, autocomplete: "off" %>

  <div class="actions">
    <%= f.submit t('update_user'), class: "button" %>
  </div>
<%- end %>
