<%= flash_messages %>

<h1><%= t("listing_users") %></h1>

<table>
  <thead>
    <tr>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <% if user == current_user %>
        <tr>
          <td><em><%= user.email %></em></td>
          <td></td>
        </tr>
      <% else %>
        <tr>
          <td><%= user.email %></td>
          <td class="user-actions">
            <%= link_to t("edit"), edit_user_path(user) %>
            <%= link_to t("delete"), user, method: :delete, onclick: "return confirm('#{t('are_you_sure')}')}" %>
          </td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to t("new_user"), new_user_path %>
