<%= render 'shared/error_messages', object: @user %>

<h1><%= t('new_user_for_organisation', organisation_name: @organisation.name) %></h1>

<%= form_for([@organisation, @user]) do |f| %>

    <%= render 'form', f: f %>

    <div class="actions">
      <%= f.submit t('create_user'), class: "button" %>
    </div>


<%- end %>

<%= link_to t('back'), organisation_path(@organisation) %>
