<%= render 'shared/error_messages', object: @user %>

<h1><%= t('new_user') %></h1>

<%= form_for(@user) do |f| %>
  <%= render 'form', f: f %>

  <div class="actions">
    <%= f.submit t('create_user'), class: "button" %>
  </div>
<%- end %>

<%= link_to t('back'), users_path %>
