= render 'shared/error_messages', object: resource
.panel-default
  .panel-body
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .field
        = f.label :email, t('.labels.email'), class: 'form-label'
        = f.email_field :email, autofocus: true, class: 'form-control'
      .field
        = f.label :password, t('.labels.password'), class: 'form-label'
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      - if devise_mapping.rememberable?
        .field.remember-me-field
          = f.check_box :remember_me
          = f.label :remember_me, t('.labels.remember_me'), class: 'form-label remember-me'
      .actions
        = f.submit t('.submit'), class: 'button'
        = render "devise/shared/links"
