<%= f.label :associated_user %>
<%= f.check_box :associated_user, checked: false, class: "associated-user-check" %>

<div id="associated-user-password-fields">
  <%= f.label :password %>
  <%= f.password_field :password, class: "associated-user-password" %>
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation, class: "associated-user-password-confirmation" %>
</div>
