<%= f.label :associated_user, t("create_login") %>
<%= f.check_box :associated_user, checked: @profile_form.profile.associated_user, class: "associated-user-check" %>

<div id="associated-user-password-fields">
  <%= f.fields_for :user_attributes do |user_fields| %>
    <%= user_fields.label :password %>
    <%= user_fields.password_field :password, class: "associated-user-password" %>
    <%= user_fields.label :password_confirmation %>
    <%= user_fields.password_field :password_confirmation, class: "associated-user-password-confirmation" %>
  <% end %>
</div>
