<% content_for :page_title do %>
  <%= Settings.dsauth.app_title %>
<% end %>
<% content_for :stylesheets do %>
  <%= render partial: 'layouts/stylesheets' %>
<% end %>
<% content_for :javascripts do %>
  <%= javascript_include_tag 'application' %>
  <%= yield :javascript_includes %>
<% end %>
<% content_for :head do %>
  <%= csrf_meta_tag %>
  <%= render 'shared/ga' %>
<% end %>
<%= content_for :cookie_message, "" %>
<%= content_for :js_gt_ie, '5' %>
<%# TODO: convert banner to i18n? %>
<% content_for :content_override do %>
  <%- if current_user %>
    <nav>
      <div class="nav-wrapper">
        <%= render partial: 'layouts/user_nav' %>
      </div>
    </nav>
    <%- end %>
  <main id="page-container" role="main">
    <%= flash_messages %>
    <%= yield %>
  </main>
<% end %>

<% content_for :footer_support_links do %>
  <%= render partial: 'layouts/footer' %>
<% end %>

<%= render template: 'layouts/moj_template' %>
